.font-size-14{
    font-size: 14px;
}
.font-size-15{
    font-size: 15px;
}
.color-3{
    color: #333333;
}
.color-6{
    color: #666666;
}
.banner:hover{
    color: #333333;
}
.font-size-20{
    font-size: 20px;
}
.w-276h-70{
    width: 276px;
    height: 70px;
}
.w-276h-59{
    width: 276px;
    height: 59px;
}
.line-height-70{
    line-height: 70px;
}
.line-height-59{
    line-height: 59px;
}
.bgc-007699{
    background-color: #007699;
}
.w-94{
    width: 94%;
}



