*{margin: 0; padding: 0;}

#title div{
    width: 1100px; height: 76px;
    margin: 0 auto;
    position: relative;
	background-color: #000000;
}
#title{
    background-color: #000000;
}
#logo{
    position: absolute;
    top: 8px;
}
.search{
    width: 322px;
    height: 40px;
    vertical-align: middle;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 6px;
    position: absolute;
    top: 18px;
    right: 0px;
    font-size: 14px;
}
.search-icion{
    position: absolute;
    right: 6px;
    top: 28px;
    z-index: 1000;
}
ul{
    width: 1000px;
    margin: 0 auto; 
    list-style: none;
    display: flex;
    background-color: #ededed;
    text-align: center;
}
ul li a{
    width: 104px;
    display: block;
    color: #333333;
    padding: 20px;
}
ul li a:hover{
    color: #de2c2e;
}
.dropdown-content a:hover{
    background-color: #de2c2e; 
    text-decoration: none;
    color: #ffffff; 
}

/* 下拉选框 */
#dropdown{
    position: relative;
    z-index: 1000;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 104px;
    background-color: rgba(255, 255, 255, 0.9);
}
#dropdown:hover .dropdown-content {
    display: block;
}

